
@{
    ViewData["Title"] = "OAuth";
}

<h2>Authorize with OAuth</h2>

<div class="jumbotron">
    <h3>Twitter Feed Demo</h3>
    <p class="lead">For this demo I've used the LINQ to Twitter library.</p>
    <p><a href="https://github.com/JoeMayo/LinqToTwitter" class="btn btn-primary btn-large">The Library Repo &raquo;</a></p>

    <p class="lead">
        To Start you first need to authorize. Please, click the button bellow.
    </p>
    <div class="authorization-section">
        @Html.ActionLink("Twitter Authorize", "Begin")
    </div>
</div>
